/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

h1 {
	font-size: 30px;
}

.navbar-fixed-top .navbar-collapse {
	max-height: 75vh;
}

fieldset {
	margin-top: 0.5em;
}

/* Form with width limit */
form.limit-width input, form.limit-width .input-group {
	max-width: 35em;
}
form.limit-width textarea {
	max-width: 45em;
}

/* Simulate form */
#simulateForm table {
	width: auto;
}

/* Limits form */
form.limitForm div.checkbox {
	margin-top: 0;
	margin-bottom: 0.8em;
}

form.limitForm input[type=number]  {
	margin: 0 0.5em;
	display: inline-block;
	width: 5em !important;
}

form.limitForm input[type=number]:first-child {
	margin-left: 0;
}

form.limitForm .help-block {
	margin-bottom: 0;
}

#limitExceededCountSince {
	font-size: 0.85em;
	color: #777;
}

#triggerSummary {
	font-size: 1.75rem;
	padding-left: 1em;
	color: #aaa;
	font-weight: normal;
}

.conditionsTable {
	margin-bottom: 0;
}
.conditionsTable th, .editorConditionsTable th {
	background: #f7f7f7;
	min-width: 10em;
	font-weight: normal;
}
.conditionsTable td, .editorConditionsTable th {
	font-weight: bold;
}
.conditionsTable small {
	font-weight: normal;
	color: #999;
}

table.triggers {
	width: auto;
}
.notriggertext {
	font-style: italic;
	color: #999;
}
tr.trigger-disabled td {
	opacity: 0.4;
}
tr.trigger-disabled td.trigger-buttons {
	opacity: 1.0;
}
tr.trigger-useless td {
	opacity: 1.0;
}

.editorConditionsTable td {
	min-width: 10em;
}
.editorConditionsTable td.actionbuttons {
	min-width: 0;
}
.editorConditionsTable td {
	vertical-align: middle !important;
}
.editorConditionsTable th {
	vertical-align: top !important;
	padding-top: 0.85em !important;
	padding-right: 1em !important;
}
.editorConditionsTable td.actionbuttons {
	vertical-align: top !important;
}
.editorConditionsTable tr.addcondrow th {
	padding-top: 5px !important;
}

.editorConditionsTable {
	margin-bottom: 0.5em;
}

.editorConditionsTable label.normal {
	font-weight: normal;
}

.marginbot {
	margin-bottom: 20px;
}

#editorDialog .timeInput {
	width: 8em;
}

#editorDialog .speedInput {
	width: 6em;
}

#editorDialog .snrInput {
	width: 6em;
}

#editorDialog .summitPointsInput {
	width: 6em;
}

#editorDialog .summitActivationsInput {
	width: 6em;
}

.editorConditionsTable .help-block {
	margin-bottom: 0;
}

.editorConditionsTable #callsign, .editorConditionsTable #fullCallsign, .editorConditionsTable #spotter, .editorConditionsTable #notCallsign, .editorConditionsTable #notFullCallsign, .editorConditionsTable #notSpotter, .editorConditionsTable #summitRefs, .editorConditionsTable #prefix, .editorConditionsTable #notPrefix {
	text-transform: uppercase;
}
.daysOfWeek {
	margin-top: 0.5em;
	margin-bottom: 0 !important;
	margin-right: 1em;
}

.clublogForm {
	padding: 0.5em;
	border: 1px solid #ddd;
}

.clublogForm hr {
	margin: 0.5em 0;
}

/* Destinations form */
#linkedDevicesList button.btn-danger {
	margin-left: 0.5em;
}
#linkedDevicesList div.checkbox {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

#linkedDevicesList div.sound {
	margin-bottom: 1em;
}

#linkedDevicesList div.sound label:first-child {
	padding-left: 0;
}

textarea.emailFormat {
	height: 7em;
}

.emailFormat {
	font-family: "Courier New", Courier, monospace;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}
footer .container {
  padding: 0 15px;
}
footer .container .text-muted {
  margin: 15px 0;
}


/* Login form */
.form-signin {
  max-width: 330px;
  margin: 1em auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Tab panels */
.tab-pane {
	padding: 1em 1em 0.3em 1em;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.tab-content {
	margin-bottom: 1em;
}

/* Uppercasing input fields without affecting placeholder */
::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}

#halogo {
	text-align: center;
	margin-top: 2.5em;
}
#halogo p {
	margin-top: 0.8em;
	font-size: 13pt;
	text-transform: small-caps;
	color: #777;
}

/* Stats */
.statsPanel {
	display: inline-block;
	vertical-align: top;
	margin-right: 2em;
}
.statsPanel hr {
	margin: 1em 0;
}
.statValue {
	font-size: 36pt;
	font-weight: bold;
	display: inline-block;
	text-align: right;
	width: 5em;
}
.statLabel {
	font-size: 14pt;
	font-weight: normal;
	display: inline-block;
	margin-left: 0.5em;
	margin-right: 1em;
	color: #999;
}

.statstable {
	border-top: 1px solid #dddddd;
}
.statstable thead tr {
	background: #f7f7f7;
}
.statstable .val1 {
	text-align: right;
	border-right: 2px solid #dddddd;
}
.statstable .val2 {
	text-align: right;
}

#chartPanel {
	display: block;
}
#chartPanel canvas {
	width: 100%;
	height: 400px;
	margin: 10px;
}

/* Help */
.clublogHelp > li {
	margin-bottom: 0.3em;
}
.clublogHelp ul li {
	font-size: 0.9em;
	color: #777;
}

.alert-useless {
	margin-top: 1em;
	max-width: 30em;
}

tt {
	background-color: #eee;
	padding: 0.2em;
}

.telnethost {
	font-size: 2rem;
	background-color: #f7f7f7;
	border: 1px solid #ddd;
	display: inline-block;
	padding: 0.3em;
	font-family: monospace;
	border-radius: 0.5em;
	margin-top: 5px;
	margin-bottom: 10px;
}
.telnethost .proto {
	color: #999;
}

/* Rounded tables */
.table-rounded {
  border-collapse: separate;
  border: solid #ddd 1px;
  border-radius: 6px;
}
.table-rounded td, .table-rounded th {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.table-rounded td:first-child, .table-rounded th:first-child {
	border-left: none;
}
.table-rounded tr:first-child > td, .table-rounded tr:first-child > th {
  border-top: none;
}
.table-rounded tbody tr:first-child > th:first-child {
  border-radius: 6px 0 0 0;
}
.table-rounded tbody tr:last-child > th:first-child {
  border-radius: 0 0 0 6px;
}
.table-rounded tbody tr:only-child > th:first-child {
  border-radius: 6px 0 0 6px;
}